:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif;
    user-select: none;
}

.containerWrapper {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 3fr;
}
.gameContainer {
    width: 80%;
    height: 90%;
    border-radius: 10px;
    z-index: 1;
}

.themesContainer{
    height: 100%;
    grid-template-rows: 8fr 2fr;
}

.themeBoxes{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr)
}

.themeBox{
    width: 50%;
    height: 30%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s linear
}

.themeBox:hover{
    height: 40%;
    width: 60%;
    transition: all 0.3s linear;
    filter: brightness(80%);

}

.openCategoryWindow{
    height: 60%;
    width: 40%;
    font-size: 1.5em;
}
.allCategories {
    display: none;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
}

.explanation {
    grid-column: span 2;
    font-size: 2em;
    font-weight: bold;
}

.category {
    font-weight: bold;
    width: 50%;
    height: 50%;
    font-size: 1em;
    transition: background-color 0.3s linear;
}

.category:hover {
    transition: background-color 0.3s linear;
}

.startNewGame {
    display: none;
    height: 40%;
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 2;
    border: 0;
}

.startNewGame:focus {
    outline: none;
}

.hangmanContainer {
    width: 100%;
    height: 100%;
    display: none;
    grid-template-rows: 2fr 5fr 3fr;
    grid-template-columns: 3fr 9fr;
    grid-template-areas: "hangman wrongLetter" "hangman word" "alphabet alphabet"
}

.wrongGuess {
    grid-area: wrongLetter;
}

.hangman {
    grid-area: hangman;
}

.wordContainer {
    grid-area: word;
}

.wordContainer p {
    width: 25px;
    white-space: pre;
    font-size: 1.7em;
    text-align: center;
    font-weight: bold;
}

.alphabetContainer {
    grid-area: alphabet;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(2, 1fr)
}

.alphabetContainer button {
    width: 70%;
    height: 70%;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.categoryNameContainer p {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    padding: 0% 2%;
    border-radius: 10px
}

button:focus {
    outline: none
}
button{
    border: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.buttons {
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

@media screen and (max-width:700px) {
    :root {
        font-size: 12px
    }
    
    .themeBoxes{
        grid-template-columns: repeat(2,1fr)
    }
    
    .gameContainer {
        width: 90%;
    }
    
    .hangmanContainer {
        grid-template-rows: 4fr 3fr 4fr;
        grid-template-columns: 5fr 6fr;
        grid-template-areas: "hangman wrongLetter" "word word" "alphabet alphabet"
    }
    
    .alphabetContainer {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr)
    }
    
    .category {
        width: 75%;
    }
    
    .wordContainer p {
        width: 18px;
    }
    
    .alphabetContainer button {
        border-radius: 5px;
    }
    
    .startNewGame {
        width: 75%;
    }
    canvas {
        max-width: 100%;
        margin-top: 5%;
        max-height: 100%;
    }
}
@media screen and (max-width:300px) {
    :root {
        font-size: 7px
    }
    
    .alphabetContainer {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr)
    }
    
    canvas {
        max-width: 100%;
        margin-top: 5%;
    }
    
    .wordContainer p {
        width: 12px;
    }
    
    .alphabetContainer button {
        height: 90%;
    }
}

